.DS_Store
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
*.iml
.idea/
.vscode/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.podspec
ios/Flutter/ephemeral/
android/.gradle/
android/local.properties
android/key.properties
**/*.g.dart.lock
